<hr>
<div class="d-flex justify-content-center my-2">
	<%= form_for Comment.new, url: comments_path(), method: :post, :remote => true do |f| %>
		<%= f.hidden_field :post_id, :value => post.id %>
		<div class="field d-flex">
			<%= f.text_field :body, class: "form-control" %>
			<%= f.submit "comment", id:"post-submit" ,class: "btn btn-primary "%> 
	  </div>
	<% end %>
</div>
<% if post.comments.present? %> 
	<%if params[:action].eql?("show")%>
		<% post.comments.order(created_at: :DESC).each do |comment| %>
			<p><%= image_tag comment.user.avatar, {height: 25, width: 25} %>
			<b class="px-2"><%=comment.user.user_name%></b></p>
			<div class="comment_like">
				<%= comment.body%>
				<div id ="comments-likes<%=comment.id%>" >
					<%= render "comments/comment_likes", comment:comment %>
				</div>
			</div>
			<span class="mx-4" style="font-size: 15px;">
      	<%= distance_of_time_in_words(DateTime.now.utc, comment.created_at)%>
   		</span>
			<a class="d-block my-0 pe-auto" onclick="commentreply(<%=comment.id %>)">reply</a>
			<div class="d-none" id="comments-reply<%=comment.id%>">
				<%= render "comments/comment_reply", comment: comment%>
			</div>
		<% end %>	
	<%end %>
<% end %>

<script type="text/javascript">
  function commentreply(id) {
    var element = document.getElementById("comments-reply"+id);
    element.classList.toggle("d-none");
  }
</script>

