<%# byebug %>
<div>
	<div class="d-flex">
		<% if post.likes.where(user_id: session[:user_id]).present? %>
			<%= link_to "<i class='fa-solid fa-heart icon_font' style= 'color: red;'></i>".html_safe, likes_path(post_id: post), method: :post , :remote=> true %>
		<% else %> 
			<%= link_to "<i class='fa-regular fa-heart icon_font' style= 'color: red;'></i>".html_safe, likes_path(post_id: post), method: :post , :remote=> true %>
		 <% end %>
		<p><%= post.likes.count %></p>
	</div>
	<p style="font-size: 12px;font-weight: 600;"><%= likes_name(post)%></p>
</div>

<div>
	<%= link_to '<i class="fa-regular fa-comment icon_font"></i>'.html_safe, post_path(id: post,:format => "js"),:remote => true%>
	<%= post.comments.count %>

	<% if SavedPost.where(user_id: session[:user_id], post_id: post.id).present? %>
		<%= link_to "<i class='fa-solid fa-bookmark icon_font'></i>".html_safe, saved_posts_path(post_id: post.id), method: :post , :remote=> true %>
	<% else %>
	 <%= link_to "<i class='fa-regular fa-bookmark icon_font'></i>".html_safe, saved_posts_path(post_id: post.id), method: :post , :remote=> true %>
	<% end %>
</div>