<div id="user-index" class="main-content user-content">  
  <% users.each do |user| %>
  	<a href="users/:<%=user.id%>" class="show_user_profile" >
			<div class="card my-2" style="width: 35rem;">
				<div class="card-body">
					<div class="content_align"> 
						<%= image_tag user.avatar, {height: 55, width: 55} %>
			    	<p class="follow_<%= user.id%>">
			    		<%= render "/relationships/follow", user: user%>
			    	</p>
			    </div>
			    <h5 class="card-title"><%= user.user_name %></h5>
				  <p class="card-text"><%= user.email %>
				  </p>
			  </div>
			</div>
		</a>
  <% end %>  
</div>


<script>
		debugger
	var btns = document.getElementsByClassName(".show_user_profile")
	for(var i=0; i<btns.length; i++){
			btns[i].click(function(){
				debugger
			$.ajax({ 
			})
		})
	}
</script>


